<h1 class= "text-center mt-3">Pick the dates</h1>

<div class="form-wrapper d-flex justify-content-around" >

    <%= simple_form_for([@surfboard, @booking]) do|f| %>

    <%= f.input :start_date, as: :string, label: "From", input_html: { class: "datepicker" } %>
    <%= f.input :end_date, as: :string, label: "To:".html_safe, input_html: { class: "datepicker" } %>

    <div class= "justify-content-between mb-3" >
    <%= link_to 'Cancel', surfboard_path(@surfboard), class: 'cnl-btn ml-0' %>
    <%= f.submit "BOOK", class: "black-btn ml-5 mr-0" %></div>
    <% end %>
</div>
