<nav class="navbar navbar-light d-flex justify-content-between">
  <a class="navbar-brand mt-2">
    <%= image_tag "logo.png", alt: "logo", width: 50 %>
  </a>
  <%= link_to root_path do %>
  <div class="navbar-brand" href="#"><h2>SurfBnB</h2></div>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to user_session_path do %>
          <div class="nav-link">Log In</div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path do %>
          <div class="nav-link">Sign Up</div>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          What do you want to do?
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to surfboards_path do %>
            <div class="dropdown-item">Rent a board</div>
          <% end %>

          <%= link_to new_surfboard_path do %>
            <div class="dropdown-item">Share a board</div>
          <% end %>

          <%= link_to dashboard_path do %>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">Dashboard</div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
<%= link_to root_path do %>
  <button class="btn btn-outline-dark btn-sm ml-1 mt-1">&larr;</button>
<% end %>
