
<div class="dash-container">
  <div class="show-text">
    <h2><%= @user.first_name %>'s Dashboard</h2>
  </div>

  <div>
  <h3> Bookings on <%= @user.first_name %>'s boards </h3>

  <% if @user.board_bookings.count != 0 %>
    <% @user.board_bookings.each do |board_booking| %>
      <ul>
        <li> <%= board_booking.surfboard.model %></li>
      </ul>
    <% end %>
  <% else %>
    <ul>
      <li> <%="None of your boards are booked at the moment!" %> </li>
    </ul>
  <% end %>
  </div>


  <div>
    <div>
    <h3> <%= @user.first_name %>'s bookings </h3>
    <% if @user.bookings.count != 0 %>
      <% @user.bookings.each do |booking| %>
        <ul>
          <li>Model: <%= booking.surfboard.model %> </li>
          <li>From: <%= booking.start_date %> </li>
          <li>To: <%= booking.end_date %> </li>
        </ul>
      <% end %>
    <% else %>
      <ul>
        <li> <%="You haven't booked any boards yet - book one and catch some waves! ðŸ„ðŸŒŠ" %> </li>
      </ul>
    <% end %>
    <div class="dash-btn">
      <p my=0><%= link_to "Explore Surfboards", surfboards_path, class: "sml-black-btn" %></p>
    </div>
  </div>

    <div>
    <h3> <%= @user.first_name %>'s boards </h3>

    <% if @user.surfboards.count != 0 %>
      <% @user.surfboards.each do |surfboard| %>
       <ul>
        <li> <%= surfboard.model %>, â‚¬<%= surfboard.price %>/day </li>
       </ul>
      <% end %>
    <% else %>
      <ul>
        <li> <%="You don't have any boards available to share at the moment" %> </li>
      </ul>
    <% end %>
    <div class="dash-btn">
      <p my=0><%= link_to "Add a Board", new_surfboard_path, class: "sml-black-btn" %></p>
    </div>
    </div>
  </div>
</div>
