<div class="show-container">
  <div class="show-text">
    <h2> <%= @surfboard.model %> </h2>
  </div>

  <div class="show-text">
    <p> Description: <%= @surfboard.description %> </p>
    <p><%= @surfboard.size %>, €<%= @surfboard.price %>/day </p>
  </div>

  <div class="mini-nav">
    <h2><%= link_to "Book Now!", new_surfboard_booking_path(@surfboard) %></h2>
  </div>

    <div class="show-image">
      <% if @surfboard.photo.attached? %>
        <%= image_tag @surfboard.photo %>
      <% else %>
        <%= image_tag 'ART00050817001.jpg' %>
      <% end %>
    </div>

</div>
